include AUTHORS
include LICENSE
include DESCRIPTION
include CHANGELOG.txt
include README.md
include tox.ini
graft db-obfuscate
global-exclude *.orig *.pyc *.log *.swp local_settings.py
prune db-obfuscate/tests/coverage
prune db-obfuscate/.ropeproject
