include AUTHORS
include LICENSE
include DESCRIPTION
include CHANGELOG.txt
include README.md
include tox.ini
graft db_obfuscate
global-exclude *.orig *.pyc *.log *.swp local_settings.py
prune db_obfuscate/tests/coverage
prune db_obfuscate/.ropeproject
